.header{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* .navbar .lastlink a{
    display: none;
} */

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header .logo{
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.header .logo span{
    color : green;
}

.header .logo span:hover{
    color: greenyellow;
}

.header .logo img{
    width: 50px;
}


.header img:hover{
    color: green;
}

.header .navbar a{
    padding-left: .5rem;
    padding: space-between;
    text-align: justify;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}

.header .navbar a:hover{
    color : green;
}

.header .icon i{
    font-size: 2rem;
}

.navbar a{
    clear: right;
    text-decoration: none;
    color: green;
    margin: 0 12px;
    line-height: 20px;
}

.header .icon i:hover{
    color: red;
}

a .menu-btn {
    padding-left: .8rem;
    padding: space-between;
    text-align: justify;
    cursor: pointer;
    text-decoration: none;
 }
 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 .menu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
 }
 .links,.links-hidden{
    display: inline-block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
 }
 .links-hidden{
    display: block;
 }
 .links{
    display: inline-block;
 }
 .dropdown-menu:hover .menu-content {
    display: block;
 }

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;
}

.topNav{
    
    text-align: right;
    padding-right: 5rem;
    /* height: 50px;
    line-height: 50px; */
}

#toggle{
    display: none;
}

button{
    background-color: #01452c	;
    border: none;
    border-radius: 5px 5px 5px;
    width: 100px;
    height: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 60%;
    left: 45%;
    animation: paragraph 1s 0.9s forwards;
}

button:hover{
    color: white;
    background-color: #DEB887;
    opacity: 0.5rem;
    cursor: pointer;
}

button:nth-child(2):hover{
    background: peachpuff;
}

button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50%;
    background: linear-gradient(90deg,transparent,#FFF8DC,transparent);
    transition: 0.5s;
}

button:hover::before{
    left: 100%;
}

form{
     padding-right: 0px;
}

img{
    height: 50px;
    width: 50px;
}

.backImage{
    width: 100%;
    height: 100hv;
    object-fit:cover;
    background-color: black;
}

.backImage img{
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.5;
animation: scale 20s;
overflow: hidden;
}

@keyframes scale{
    0%{
        transform: scale(1.3);
    }
    100%
    {
        transform: scale(1);
    }
}

.container{
    /* perspective: 100rem; */
    position: relative;
    width: 100%;
    height: 100hv;
    overflow: hidden;
}

.paragraph h1{
    position: absolute;
    display: block;
    font-style: italic;
    top: 20%;
    left: 28%;
    color: white;
    opacity: 0;
    animation: paragraph 1s 0.5s forwards;
}

.paragraph p{
   width: 100%;
   opacity: 0;
   position: absolute;
   display: block;
   top: 30%;
   left: 5%;
   right: 5%;
   color: white;
   animation: paragraph 1s 0.7s forwards;
   font-style: italic;
}

@keyframes paragraph{
    0%{
        transform: translateY(40rem) rotateY(-20deg);
        opacity: 1;
    }
    100%
    {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

@media only screen and ( max-width: 414px){
    .navbar a{
        clear: right;
        text-decoration: none;
        color: green;
        margin: 0 1px;
        line-height: 20px;
        width: 100%;
    }
    
    
    a .menu-btn {
        padding-left: .8rem;
        padding: space-between;
        text-align: justify;
        cursor: pointer;
        text-decoration: none;
     }
    


    .paragraph p{
        opacity: 0;
        position: absolute;
        display: block;
        top: 20%;
        left: 5%;
        right: 5%;
        color: white;
        animation: paragraph 1s 0.7s forwards;
        font-size: medium;
     }

     .paragraph h1{
        position: absolute;
        display: block;
        top: 5%;
        left: 24%;
        right: 15%;
        color: white;
        opacity: 0;
        animation: paragraph 1s 0.5s forwards;
        font-size: 150%;
    }

    button{
        border: none;
        border-radius: 5px 5px 5px;
        width: 100px;
        height: 30px;
        color: white;
        background-color: #01452c;
        cursor: pointer;
        position: absolute;
        overflow: hidden;
        top: 90%;
        left: 35%;
        animation: paragraph 1s 0.9s forwards;
        display: block;
    }

    .press button{
        margin-top: 1rem;
        display: block;
        position: absolute;
    }

    .header{
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    .header .logo{
        font-size: .8rem;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        width: 100%;
      }

    label{
        display: block;
        cursor: pointer;
        margin: 0 0px 0 0;
        font-size: 26px;
        line-height: 70px;
        width: 30px;
        float: right;
        color: green;
    }
    
    .navbar {
         float: none;
        display: block;
        text-align: left;
        content: '/2630';
        text-align: center;
        width: 100%;
        display: none;
        margin: 0 0px;
      } 

      .header .navbar a{
        padding-left: .2rem;
        padding: space-between;
        text-align: justify;
        cursor: pointer;
        display: block;
    }

      .navbar a{
          display: block;
          margin: 0 0px;
          line-height: 20px;
          width: 100%;
      }
      
      #toggle:checked + .navbar{
       display: block;
       line-height: 30px;
       background-color: white;
       width: 100%;
       height: 190px;
       -webkit-transition: .4s;
       transition: .4s;
      }

      #toggle:checked + .logoIcon{
         display: block;
         position: relative;
      }

      .header{
          display: flex;
          position: relative;
      }

      .logoIcon{
          display: block;
          position: relative;
          padding-top: 0px;
      }

      .logo a{
        position: absolute;
      }

      .topNav{
          width: 100%;
          position: relative;
          padding-right: 0.5rem;
          display: block;
      }

      .logospace{
          display: flex;
      }
      
      .topNav{
        padding-right: 0rem;
      }

      a .menu-btn {
        padding-left: 0rem;
        margin-right: 5rem;
        padding: 0vmin;
        text-align: justify;
        cursor: pointer;
        text-decoration: none;
     }

     .dropdown-menu {
        display: block;
     }
     
     .header .navbar a{
        padding-left: 0rem;
        padding: 0px;
        text-align:right;
        cursor: pointer;
    }

    .backImage{
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
    }

    .backImage img{
        width: 100%;
        height: 700px;
        object-fit: cover;
        opacity: 0.5;
        animation: scale 20s;
        overflow: hidden;
        }

   .logo img{
        height: 50px;
        width: 50px;
    }
      
}









/* footer */

.footer .logo{
    font-size: 2rem;
    text-decoration: none;
    color: black;
  }

  .footer .logo img{
    width: 30px;
}

h3{
    color: white;
    text-decoration: none;
    padding-bottom: 0.5%;
    padding-left: 1%;
}

i{
    padding-bottom: 1%;
    color: white;
}

.contact{
    color: white;
    width: 12rem;
    padding-left: 2%;
}

.footer .grid{
    color: white;
    padding-left: 25%;
}

.footer .about .info{
    color: white;
    justify-content: center;
    border-top-color:white;
    padding-left: 5%;
    border-bottom: solid;
}

.footer {
    display: grid;
    /* grid-template-rows: 0.8fr;
    grid-template-columns: 1fr minmax(0, 500px) 1fr; */
    display: flex;
    background-color: black;
    width: 100%;
  }

  .bottombar{
    padding-left: 10%;
    background-color: grey;
    color: white;
    justify-content: center;
    background: cover;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.icon{
    display: flex;
    padding-bottom: 2%;
}

.detail{
    color: white;
    padding-left: 1%;
    display: inline;
    position: relative;
}

@media only screen and (max-width:414px) {
   .grid{
        color: white;
        padding-left: 3%;
        margin-left: 3%;
        right: 5rem;
    }

    footer .contact i{
        color: white;
        display: flex;
        width: 2rem;
        padding-left: 3%;
    }

    .footer .grid{
        color: white;
        padding-left: 0.5%;
    }

    .footer {
        display: grid;
        /* grid-template-rows: 0.8fr;
        grid-template-columns: 1fr minmax(0, 500px) 1fr; */
        display: flex;
        background-color: black;
        width: 100%;
        position: absolute;
      }

      .contact{
        color: white;
        /* display: flex; */
        /* width: 100%; */
        padding-left: 2%;
        margin-right: 0.5rem;
    }

    .footer{
        /* right: 1rem; */
        /* height: 250px; */
        /* position: absolute; */
        width: 100%;
    }

    .icon{
        display: flex;
        padding-bottom: 4%;
    }

    img{
        height: 30px;
        /* width: 30px; */
        width: 20%;
    }

    .bottombar{
        padding-left: 3.5%;
        padding-right: 3.5%;
    }
}